.main-wrapper {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  color: #2c2223;;
}

/*Nav Bar*/

.nav-bar {
  display: flex;
  padding-left: 2em;
  padding-bottom: 0.5em;
  margin-top: 0;
  right: 0;
  padding-right: 10em;
  top: 0;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

.logo-wrapper {
  width: 10em;
  height: 5em;
}

.nav-items-wrapper {
  width: fit-content;
  border: none;
  align-items: center;
  color: #8d8d8d;
  font-size: 1.4em;
  font-weight: 700;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.nav-item {
  float: right;
  border: none;
  font-size: 1em;
  color: #8d8d8d;
  background: #fff;
  display: flex;
  flex: 1;
  align-content: flex-end;
  justify-content: flex-end;
}

.nav-item:hover {
  color: #000;
  cursor: pointer;
}

.me-img-wrapper {
  width: 10em;
  height: 10em;
}

.profile-img {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

.me-main {
  background: #245768;
  width: 100%;
}

.me-wrapper {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  color: #fff;
}
.me-wrapper .content {
  margin: 0 auto;
}

.me-name {
  font-size: 3em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight:400;
}

.me-description  {
  font-size: 1.2em;
  font-weight: lighter;
}

.mobileMenu {
  display: none;
}

.mobile-menu-wrapper {
  width: 100%;
}

.menu-button {
  font-size: 10em;
}

/* Skills section */

.skills-wrapper {
  width: 65%;
  margin: 0 auto;
  margin-bottom: 3em;
}

.title-wrapper {
  width: 3em;
  margin: 0 auto;
  color: #575757;
  font-size: 1.2em;
  font-weight: lighter;
}

.title-liner {
  width: 2.5em;
  border: solid rgb(218, 218, 218) 2px;
  border-radius: 3px;
  margin: 0 0.3em;
}

#title {
  font-weight: 400;
}

.skills-cards {
  margin-top: 3em;
  display: flex;
}

.card-wrapper {
  border: thin rgb(218, 218, 218) solid;
  text-align: center;
  width: fit-content;
  padding: 1.5em 1em;
  min-height: 430px;
  min-width: 30%;
  margin-right: 1.5em;
  height: fit-content;
  background: #f1f1f1;
  border-radius: 5px;
}

#card-title {
  border: none;
  width: 80%;
  margin: 0 auto;
  border-bottom: thin rgb(218, 218, 218) solid;
  padding-top: 0.5em;
  padding-bottom: 1em;
  font-size: 1.2em;
  margin-bottom: 1em;
  font-weight: 600;
}

.card-item {
  margin: 0.3em 0;
}

.sample-img {
  width: 100%;
  height: 100%;
}

.work-wrapper {
  background: #ebf0f1;
  padding-top: 0.3em;
}

.work-sample-wrapper {
  width: 65%;
  margin: 0 auto;
  min-height: 395px;
  border: none;
  padding-bottom: 1em;
}

.work-with-sample {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.work-img-div {
  width: 65%;
}

.work-img-div-ah {
  background: url('../images/ahdesk.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 318px;
}

.work-img-div-baobab {
  background: url('../images/baobab.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 318px;
}

.work-img-div-healthid {
  background: url('../images/healthid.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 318px;
}

.work-img-div-portfolio {
  background: url('../images/portfolio.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 318px;
}

.work-img-div-mobile {
  background: url('../images/ah.png');
  background-repeat: no-repeat;
  background-size: contain;
  left: 13em;
  margin-top: 3em;
  width: 20%;
  height: 300px;
  position: absolute;
}
.work-img-div-mob-port {
  background: url('../images/portmobile.png');
  background-repeat: no-repeat;
  background-size: contain;
  right: 3.2em;
  margin-top: 3em;
  width: 20%;
  height: 300px;
  position: absolute;
}

.work-img-div-left {
  width: 65%;
  display: flex;
  justify-content: flex-end;
}

#project-name {
  font-size: 4.5rem;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content:flex-end;
  text-align: end;
  color: #2c2223;
}

#project-name-left {
  font-size: 4.5rem;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content:flex-start;
  text-align: end;
}

.sample-toggle-btn {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end ;
  height: 3em;
  margin-top: 1em;
}

.with-desc-wrapper {
  text-align: center;
  height: 100%;
  padding-bottom: 2em;
  border: none;
  border-bottom: 1px #dfdede solid;
}

.work-project-name {
  font-size: 3rem;
  margin-bottom: 0.5em;
}

.work-desc {
  width: 70%;
  margin: 0 auto;
}

.work-skills {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-desc {
  color: #8d8d8d;
  margin-bottom: 2em;
}

.work-divider {
  border: none;
  border-left: solid 1px #dfdede;
}

.work-skills-container {
  color: #8d8d8d;
}

#go-to-site {
  font-size: 1.2rem;
  height: 3em;
  background: inherit;
  border: none;
  color: #f44336;
  text-decoration: none;
}

.go-to-site {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

#go-to-site:hover {
  cursor: pointer;
}

.work-img-mobile {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width:1024px) {
  .work-img-div {
    width: 70%;
  }
  .work-img-div-left {
    width: 70%;
  }
  .work-sample-wrapper {
    width: 90%;
  }
  .work-img-div-mobile {
    left: 5em;
  }
  .work-img-div-ah {
    height: 340px;
  }
  .work-img-div-baobab {
    height: 340px;
  }
  .work-img-div-healthid {
    height: 340px;
  }
  .work-img-div-portfolio {
    height: 340px;
  }
  .work-img-div-mobile {
    left: 1em;
  }
  .work-img-div-mob-port {
    right: 0em
  }
}

@media only screen and (max-width:769px) {
  .nav-bar {
    padding-right: 1em;
  }
  .logo-wrapper {
    width: 10%;
  }
  .nav-item {
    float: right;
  }
  .me-wrapper {
    width: 80%;
  }
  .skills-wrapper {
    width: 95%;
  }
  .card-wrapper {
    min-width: 25%;
    margin-right: 1em;
  }
  .work-sample-wrapper {
    width: 95%;
  }
  .work-img-div-ah {
    background-size: contain;
  }
  .work-img-div-baobab {
    background-size: contain;
  }
  .work-img-div-healthid {
    background-size: contain;
  }
  .work-img-div-portfolio {
    background-size: contain;
  }
  .work-img-div-mobile {
    left: 1em;
    margin-top: 1em;
  }
  .work-img-div-mob-port {
    margin-top: 1em
  }
}

@media only screen and (max-width:414px) {
  .nav-bar {
    padding-right: 0px;
  }
  .logo-wrapper {
    width: 17%;
  }
  .desktopMenu {
    display: none;
  }
  .mobileMenu {
    display: block;
    float: right;
  }
  .me-wrapper {
    width: 90%;
  }
  .skills-wrapper {
    width: 100%;
  }
  .skills-cards {
    display: block;
  }
  .card-wrapper {
    border: thin rgb(218, 218, 218) solid;
    width: fit-content;
    min-height: fit-content;
    min-width: 80%;
    font-size: 0.8rem;
    margin-right: 0px;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  .work-with-sample {
    flex-direction: column;
  }
  .work-hide {
    display: none;
  }
  #project-name-left{
    font-size: 4rem;
    display: block;
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
  .sample-toggle-btn {
    display: none;
  }
  .work-img-div-left {
    width: 100%;
  }
  .work-img-div-healthid {
    height: 200px;
  }
  .work-img-div-portfolio {
    height: 510px;
  }
  .work-sample-wrapper {
    min-height: 200px;
  }
  .work-img-div-mob-port {
    right: 0em;
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-top: 13em;
    margin-left: 7em;
  }
}
